.venv

__pycache__/
.DS_Store
.vscode

PianoFingeringDataset
motiva/music/songs/*

!motiva/music/songs/somewhere_over_the_rainbow
!motiva/music/songs/twinkle_twinkle_little_star

replay_buffer.pth
valid-*.mid

installation_reqs.txt
